body {
 font-family: Arial, sans-serif;
 text-align: center;
 background: black url('Background.jpg') no-repeat center center fixed;
 background-size: cover;
 padding: 30px;
 color: white;
}

nav {
  margin_bottom: 30px;
} 

nav a {
  margin: 0 10px;
 text-decoration: none;
 font-weight: bold;
 color: #007BFF;
}

nav a:hover {
  text-decoration: underline;
}

.shadows-into-light-regular {
  font-family: "Shadows Into Light", cursive;
  font-weight: 600;
  font-style: 50px;
  margin: 0px;
}

.download-link {
  margin: 0 10px;
  font-weight: bold;
  color: #007BFF;
}

section {
 background-color: rgba(0, 0, 0, 0.5);
 padding: 10px 0px;
 margin: 40px 250px;
 border-radius: 10px;
}


#skills {
 background: linear-gradient(170deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.1));
}
.skills-container {
 display: flex;
 flex-wrap: wrap;
 gap: 15px;
 justify-content: center;
 margin-top: 20px;
}
.skill {
 background-color: rgba(0, 0, 0, 0.7);
 border-radius: 10px;
 padding: 10px 15px;
 display: flex;
 align-items: center;
 gap: 8px;
 transition: background-color 0.3s ease, transform 0.2s ease;
 box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.skill:hover {
 background-color: rgba(0, 0, 0, 0.9);
 transform: translateY(-3px);
}
.skill img {
 width: 24px;
 height: 24px;
}
.skill span {
 font-weight: 600;
 color: #fff;
}
#projects {
 background-color: rgba(0, 0, 0, 0);
 display: flex;
 gap: 80px;
 justify-content: center;
 flex-wrap: wrap
}

#porjects {
 text-decoration: none;
 color: white;
 background: linear-gradient(145deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.1))
 box-shadow: 0px 4px 8px rgba(0, 0, 0, 1)
 border-radius: 10px;
 padding: 60px 85px;
 flex: 1;
}

#projects > a:hover {
 transform: translateY(-5px);
 box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

#projects > a img {
 border: 2px solid #FF00FF;
}
